* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #C4C4C4;
    font-style: normal;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.caja-principal {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    width: 300px;
    height: 450px;
    box-shadow: 10px 10px 15px rgba(51, 51, 51, 0.15);
    border-radius: 30px;
}

.usuario {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1.5px solid #ccc;
}

.usuario h1 {
    font-size: 14px;
}

.nav {
    flex: 5;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.nav li {
    padding: 20px 30px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.nav li:hover {
    background-color: #333;
    color: #fff;
}

.nav li a,
.cerrar-sesion a {
    color: #ccc;
    text-decoration: none;
    display: flex;
}

.nav li a p {
    margin-left: 20px;
}

.cerrar-sesion {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1.5px solid #ccc;
}

.cerrar-sesion h2 {
    margin-left: 20px;
    font-size: 14px;
}

@media screen and (min-width: 300px){

    .caja-principal {
        margin-top: 50px;
        margin-left: 6px;
    }
}